/* Main Container for the Find Friends page */
.find-friends-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  gap: 20px;
}

/* Suggested Users Section */
.suggested-users {
  flex-basis: 30%;
  max-width: 30%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.5);
  padding: 20px;
  overflow: auto;
}

/* Search and Results Section */
.search-results {
  flex-basis: 70%;
  max-width: 70%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.5);
  padding: 20px;
  overflow: auto;
}

/* Search Bar */
.search-bar {
  flex-grow: 1;
  margin-right: 10px;
  width: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.2), inset -4px -4px 8px rgba(255, 255, 255, 0.5);
}

/* Search Results */
.search-results-list {
  list-style-type: none;
  padding: 0;
}

.search-results-list li {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), -2px -2px 4px rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.search-results-list li:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
  .find-friends-container {
    flex-direction: column;
  }

  
  .search-results {
    max-width: 100%;
    flex-basis: auto;
  }
  .suggested-users{
    display:none;
  }
}

.search-bar-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  
}

.search-button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: #5CDB95; /* Example color, change as needed */
  color: white;
  cursor: pointer;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.5);
}

.search-button:hover {
  background-color: #379683; /* Darker shade for hover effect */
}
