/* Base styles for the profile view */
.container{
  display:flex;
  justify-content: center;
  align-items:center;
}
.profile {
  position: sticky;
  top: 0;
  width: 70%;
  height: fit-content;
  padding: 20px;
  margin: 20px 10px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.7); /* Glass effect */
  backdrop-filter: blur(10px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.5); /* Neumorphism */
  overflow: hidden;
  color: #333;
}

.profile-picture {
  width: 40%;
  border-radius: 50%;
  margin: 0 auto 10px;
  display: block;
  border: 3px solid white; /* Neumorphic border */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.5);
}

.username {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
}

/* Tab styles */
.tab-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab {
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
}

.tab.active {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

/* List styles */
.list-view {
  text-align: center;
  margin-bottom: 20px;
}

.see-more-details {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: white;
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.see-more-details:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* List styles for Followers and Following */
.list-view ul {
  list-style-type: none;
  padding: 0;
}

.list-view ul li {
  margin: 5px 0;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), -2px -2px 4px rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease;
}

.list-view ul li:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.follower-item {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  list-style-type: none;
}

.follower-name {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
}

.follower-username {
  font-style: italic;
  color: #555;
  margin-bottom: 5px;
}

.follower-stats span {
  display: inline-block;
  margin-right: 10px;
  color: #333;
  font-size: 0.9em;
}


/* Responsive design */
@media (max-width: 768px) {
  .profile {
    /* display: none; */
    position: relative;
    width: 100%;
    margin: 20px 0;
  }
}

@media (max-width: 600px) {
  .follower-item {
    padding: 5px;
  }
  .follower-stats span {
    display: block;
    margin-bottom: 5px;
  }
}

